[overlap-text] {
	text-transform: uppercase;
	letter-spacing: -0.25ch;
	text-shadow: 1px 1px 0.25ch black;
	display: flex; 
	> span { z-index: calc(var(--m, 1) * var(--i, 1)); min-width: 0.25ch }
	&[overlap-text="front"] { --m:  1 }
	&[overlap-text="back" ] { --m: -1 }
	&[overlap-text="alter"] > span:nth-child(even){ --m: -1 }
}


.cpc-shadow-wrapper{
	margin: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Bowlby One", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: clamp(2rem, 10vw + 1vw, 12rem);
}